
/* Load Fonts */

@font-face {
	font-family: didot;
	src: url(../public/fonts/didot-bold.otf)
}

* {
	margin: 0;
	padding: 0;
	font-family: didot;
}


.center {
}

.main {
	height: 100vh;
	overflow: hidden;
	width: 100%;
}

.nav-title {
	font-weight: bold;
    font-size: 17vw;
	color: #434343;
	cursor: pointer;
	transition: .3s;
}

.nav-title:hover, .nav-title {
	opacity: .4;
}

.nav-title:hover {
	transition: .3s;
	opacity: 1;
}

.right-text {
	text-align: right;
}
